@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
}

h1 {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 700;
  color: #333950;
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 3.5rem;
    line-height: 4rem;
    font-weight: 700;
  }
}

p {
  font-size: 1rem;
  line-height: 1.625rem;
  font-weight: 400;
  color: #747B95;
}

@media screen and (min-width: 1200px) {
  p {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 400;
  }
}

.btn {
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 700;
  display: inline-block;
  width: 10.6875rem;
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
  border-radius: 28px;
  transition: 0.7s;
  text-align: center;
}

.btn:hover {
  cursor: pointer;
}

.btn:focus {
  outline: none;
  border: 4px solid #333950;
}

.btn--blue {
  background-color: #5175FF;
  color: white;
}

.btn--blue:hover {
  background-color: #829CFF;
  color: white;
}

.btn--blue:focus {
  background-color: #829CFF;
  color: white;
}

.btn--white {
  background-color: white;
  color: #5175FF;
}

.btn--white:focus {
  background-color: #333950;
}

.btn--soft {
  background-color: rgba(82, 116, 255, 0.15);
  color: #5175FF;
}

.btn--soft:hover {
  background-color: rgba(82, 116, 255, 0.35);
}

.btn--soft:focus {
  background-color: rgba(82, 116, 255, 0.35);
}

.btn--dark:focus {
  border: 4px solid white;
}

.price-card {
  position: relative;
  z-index: 5;
  padding-top: 2.5rem;
  width: 20.4375rem;
  display: block;
  background-color: #FFFFFF;
  box-shadow: 0px 50px 50px #4B5C9A3F;
  border-radius: 13px;
  opacity: 1;
  text-align: center;
}

@media screen and (min-width: 700px) {
  .price-card {
    width: 85.54%;
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .price-card {
    width: 21.875rem;
    text-align: center;
  }
}

.price-card h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  color: #333950;
}

@media screen and (min-width: 700px) {
  .price-card h2 {
    margin-top: 3rem;
    margin-left: 3rem;
  }
}

@media screen and (min-width: 1200px) {
  .price-card h2 {
    margin: 0;
    margin-top: 2.5rem;
  }
}

.price-card ul {
  margin-top: 3rem;
}

@media screen and (min-width: 700px) {
  .price-card ul {
    margin-top: 1.5rem;
    margin-left: 3rem;
    display: grid;
    grid-template-areas: "first three" "first four" "second five";
  }
}

@media screen and (min-width: 1200px) {
  .price-card ul {
    margin-top: 3rem;
    margin-left: 0;
    display: block;
  }
}

.price-card ul li {
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 400;
  color: #747B95;
  margin-bottom: 1.75rem;
}

.price-card ul li:first-child {
  font-size: 3.5rem;
  line-height: 4rem;
  font-weight: 700;
  color: #333950;
  grid-area: first;
}

.price-card ul li:nth-child(2) {
  color: #333950;
  margin-top: 1rem;
  margin-bottom: 4.25rem;
  grid-area: second;
}

@media screen and (min-width: 700px) {
  .price-card ul li:nth-child(2) {
    margin: 0;
    margin-top: -1.5rem;
  }
}

.price-card ul li:nth-child(3) {
  grid-area: three;
}

.price-card ul li:nth-child(4) {
  grid-area: four;
}

.price-card ul li:nth-child(5) {
  grid-area: five;
}

.price-card .btn {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}

@media screen and (min-width: 700px) {
  .price-card .btn {
    margin-top: 2.25rem;
    margin-left: 3rem;
  }
}

@media screen and (min-width: 1200px) {
  .price-card .btn {
    margin-left: 0;
  }
}

.pro {
  background-color: #5175FF;
  background-image: url("../assets/home/bg-pattern-pricing.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -15.875rem;
}

.pro h2 {
  color: white;
}

.pro ul li {
  color: white;
}

.pro ul li:first-child {
  color: white;
}

.pro ul li:nth-child(2) {
  color: white;
}

.date-cont {
  font-size: 1rem;
  line-height: 3rem;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: white;
}

.date-cont .date {
  color: #5274ff;
}

.countdown {
  display: flex;
  justify-content: space-evenly;
}

.countdown .timer-card {
  width: 4.5rem;
  height: 5.75rem;
  border-radius: 4px;
  background-color: #343a51;
  color: white;
  text-align: center;
}

.countdown .timer-card h2 {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  margin-top: 1rem;
}

.countdown .timer-card p {
  font-size: 0.75rem;
  line-height: 1.75rem;
  font-weight: 700;
  opacity: 0.5;
}

header {
  border: 2px solid transparent;
  width: 100%;
  height: 18rem;
  background-image: url("../assets/home/bg-pattern-header.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -9rem;
}

header .logo {
  display: block;
  margin: 3.10312rem auto 0 auto;
}

@media screen and (min-width: 700px) {
  header {
    height: 41.625rem;
    background-position: 24.6875rem -10.25rem;
  }
  header .logo {
    margin: 4.5rem 0 0 7.03%;
  }
}

@media screen and (min-width: 1200px) {
  header {
    height: 1134px;
    background-position: 41rem -26.1875rem;
  }
  header .logo {
    margin: 5.29063rem 0 0 11.46%;
  }
}

@media screen and (min-width: 1600px) {
  header {
    max-width: 1600px;
    margin: 0 auto;
    background-size: auto;
  }
}

footer {
  padding-top: 100vh;
  margin-top: -100vh;
  background-color: #262a3b;
}

footer .content-container {
  position: relative;
  bottom: 0;
  margin-top: -3.125rem;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  background-image: url("../assets/home/bg-pattern-footer.svg");
  background-size: 767px;
  background-repeat: no-repeat;
  background-position: center -380px;
  text-align: center;
}

footer .countdown {
  margin-top: 3.125rem;
  margin-bottom: 2.5rem;
}

body {
  background: #FAFAFA;
}

.cta {
  text-align: center;
  margin: 0 7.03%;
}

@media screen and (min-width: 700px) {
  .cta {
    margin-top: -23.4375rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .cta {
    margin-top: -50rem;
    margin-left: 11.46%;
  }
}

.cta .img-cont {
  display: block;
  width: 10.6875rem;
  height: 12rem;
  margin: -12rem auto 4rem auto;
  background-image: url("../assets/home/illustration-charts.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (min-width: 700px) {
  .cta .img-cont {
    flex: 1;
    margin: 0;
    width: 500px;
    height: 500px;
    background-position: center;
    background-size: contain;
  }
}

@media screen and (min-width: 700px) {
  .cta .content-container {
    text-align: left;
    flex: 1;
  }
}

.cta .content-container p {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

@media screen and (min-width: 700px) {
  .cta .content-container p {
    margin-top: 2rem;
    margin-bottom: 2.125rem;
  }
}

@media screen and (min-width: 1200px) {
  .cta .content-container p {
    margin-bottom: 2.5625rem;
  }
}

.cta .content-container button {
  box-shadow: 0px 25px 25px #3F5BC23F;
}

.pricing {
  margin-top: 6.25rem;
}

@media screen and (min-width: 700px) {
  .pricing {
    margin-top: 8.75rem;
  }
}

@media screen and (min-width: 1200px) {
  .pricing {
    width: 85.54%;
    margin: auto;
    margin-top: 11.5rem;
    display: flex;
    justify-content: center;
  }
}

.pricing .price-card {
  margin: 0 auto;
  margin-bottom: 2rem;
}

@media screen and (min-width: 700px) {
  .pricing .price-card {
    margin-bottom: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .pricing .price-card {
    margin-bottom: 5.125rem;
  }
}

.sign-up main {
  margin: 0 6.4%;
}

.sign-up .top {
  text-align: center;
  margin: -10rem auto 4rem auto;
}

.sign-up .top h1 {
  max-width: 20.4375rem;
  margin: 0 auto;
}

.sign-up .top p {
  margin: 0 auto;
  margin-top: 1rem;
  max-width: 20.4375rem;
}

.sign-up .date-cont {
  text-align: center;
}

.sign-up .countdown {
  margin-top: 3.125rem;
}

.sign-up .countdown .timer-card {
  background-color: rgba(82, 116, 255, 0.15);
}

.sign-up .countdown .timer-card h2 {
  color: #5175FF;
}

.sign-up form {
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  margin: 0 auto;
  margin-top: 4rem;
  max-width: 20.4375rem;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 50px 50px #4B5C9A3F;
  border-radius: 13px;
}

.sign-up form input, .sign-up form select {
  padding-top: 1.5rem;
  padding-bottom: 1.8125rem;
  border-bottom: 1px solid rgba(117, 124, 149, 0.5);
  outline: none;
}

.sign-up form input:focus, .sign-up form select:focus {
  border: 2px solid #5175FF;
}

.sign-up form button {
  position: relative;
  margin-top: 2.5rem;
  width: 100%;
}

.sign-up .footer {
  margin-top: -9.375rem;
  width: 100vw;
  height: 20.4375rem;
  background-color: #262a3b;
  background-image: url("../../assets/home/bg-pattern-footer.svg");
  background-size: cover;
  background-position: center -3.125rem;
  background-repeat: no-repeat;
}
/*# sourceMappingURL=main.css.map */