@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
}

h1 {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 700;
  color: #333950;
}

p {
  font-size: 1rem;
  line-height: 1.625rem;
  font-weight: 400;
  color: #747B95;
}

.btn {
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 700;
  width: 10.6875rem;
  height: 3.5rem;
  border-radius: 28px;
  transition: 0.7s;
}

.btn:hover {
  cursor: pointer;
}

.btn:focus {
  outline: none;
  border: 4px solid #333950;
}

.btn--blue {
  background-color: #5175FF;
  color: white;
}

.btn--blue:hover {
  background-color: #829CFF;
  color: white;
}

.btn--blue:focus {
  background-color: #829CFF;
  color: white;
}

.btn--white {
  background-color: white;
  color: #5175FF;
}

.btn--white:focus {
  background-color: #333950;
}

.btn--soft {
  background-color: rgba(82, 116, 255, 0.15);
  color: #5175FF;
}

.btn--soft:hover {
  background-color: rgba(82, 116, 255, 0.35);
}

.btn--soft:focus {
  background-color: rgba(82, 116, 255, 0.35);
}

.btn--dark:focus {
  border: 4px solid white;
}

.price-card {
  position: relative;
  z-index: 5;
  padding-top: 2.5rem;
  width: 20.4375rem;
  display: block;
  background-color: #FFFFFF;
  box-shadow: 0px 50px 50px #4B5C9A3F;
  border-radius: 13px;
  opacity: 1;
  text-align: center;
}

.price-card h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  color: #333950;
}

.price-card ul {
  margin-top: 3rem;
}

.price-card ul li {
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 400;
  color: #747B95;
  margin-bottom: 1.75rem;
}

.price-card ul li:first-child {
  font-size: 3.5rem;
  line-height: 4rem;
  font-weight: 700;
  color: #333950;
}

.price-card ul li:nth-child(2) {
  color: #333950;
  margin-top: 1rem;
  margin-bottom: 4.25rem;
}

.price-card .btn {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}

.pro {
  background-color: #5175FF;
  background-image: url("../assets/home/bg-pattern-pricing.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -15.875rem;
}

.pro h2 {
  color: white;
}

.pro ul li {
  color: white;
}

.pro ul li:first-child {
  color: white;
}

.pro ul li:nth-child(2) {
  color: white;
}

.countdown {
  display: flex;
  justify-content: space-evenly;
}

.countdown .timer-card {
  width: 4.5rem;
  height: 5.75rem;
  border-radius: 4px;
  background-color: #343a51;
  color: white;
  text-align: center;
}

.countdown .timer-card h2 {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  margin-top: 1rem;
}

.countdown .timer-card p {
  font-size: 0.75rem;
  line-height: 1.75rem;
  font-weight: 700;
  opacity: 0.5;
}

header {
  width: 100%;
  height: 18rem;
  background-image: url("../assets/home/bg-pattern-header.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -9rem;
}

header .logo {
  display: block;
  margin: 3.10312rem auto 0 auto;
}

footer {
  padding-top: 100vh;
  margin-top: -100vh;
  background-color: #262a3b;
}

footer .content-container {
  position: relative;
  bottom: 0;
  margin-top: -3.125rem;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  background-image: url("../assets/home/bg-pattern-footer.svg");
  background-size: 767px;
  background-repeat: no-repeat;
  background-position: center -380px;
  text-align: center;
}

footer .date-cont {
  font-size: 1rem;
  line-height: 3rem;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: white;
}

footer .date-cont .date {
  color: #5274ff;
}

footer .countdown {
  margin-top: 3.125rem;
  margin-bottom: 2.5rem;
}

body {
  background: #FAFAFA;
}

.cta {
  text-align: center;
  margin: 0 6.4%;
}

.cta .img-cont {
  display: block;
  width: 10.6875rem;
  height: 12rem;
  margin: -12rem auto 4rem auto;
  background-image: url("../assets/home/illustration-charts.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.cta p {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.cta button {
  box-shadow: 0px 25px 25px #3F5BC23F;
}

.pricing {
  margin-top: 6.25rem;
}

.pricing .price-card {
  margin: 0 auto;
  margin-bottom: 2rem;
}
/*# sourceMappingURL=main.css.map */