
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400&display=swap');
@import "layout/reset";
@import "helpers/variables";
@import 'helpers/mixins';




body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: $light-gray;
    text-align: center;
    background-color: $offwhite;
    margin: 0 22px;
}

header {
    margin: 46px auto 80px auto;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    color: $dark-blue;
    margin-bottom: 40px;
}

.intro {
    margin-bottom: 100px;
    button {
        margin-top: 62px;
        @include button
    }
}




.plan {
    background-color: white;
    margin-top: 33px;
    border-radius: 13px;
    box-shadow: 0 50px 50px fade-out( $shadow, 0.75); 
    
    
    h2 {
        padding-top: 38px;
        padding-bottom: 54px;
        font-size: bold;
        font-weight: 700;
        color: $dark-blue;
    }

    .price {
        font-size: 56px;
        line-height: 1.4;
        color: $dark-blue;
    }

    li {
        margin-bottom: 28px;
    }

    .details {
        margin-bottom: 68px;
        color: $dark-blue;
    }

    button {

        margin-top: 24px;
        margin-bottom: 40px;
    }

    
   
}

.basic {
    button {
        @include button($light-blue, $very-light-blue);
    }
}

.pro {
    background-color: $light-blue;
    color: white;
    h2 {
        color: white;
    }
    .price {
        color: white;
    }
    .details {
        color: white;
    }
    button {
        @include button($light-blue, white);
    }
}

.ultimate {
    button {
        @include button($light-blue, $very-light-blue);
    }
}

.timer {
    
    padding: 100px 0;
    color: white;
    h2 {
        
        text-transform: uppercase;
        letter-spacing: 5px;

        em {
            color: $light-blue;
        }
    }
    ol {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 50px 0;

        li {
            display: block;
            background-color: $dark-blue;
            padding: 15px;
            border-radius: 4px;
            line-height: 1.5;

            .num {
                font-size: 32px;
            }
            .unit {
                font-size: 12px;
                opacity: 50%;
            }
        }
    }

    button {
        @include button;
    }
}

