
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400&display=swap');
@import "layout/reset";


    $shadow:  #4B5C9A;
body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #747B95;
    text-align: center;
    background-color: #FAFAFA;
    margin: 0 22px;
}

header {
    margin: 46px auto 80px auto;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    color: #333950;
    margin-bottom: 40px;
}

.intro {
    margin-bottom: 100px;
    button {
        margin-top: 62px;
    }
}

button {
    outline: none;
    border: none;
    height: 56px;
    width: 172px;
    border-radius: 28px;
    background-color: #E5EAFF;
    color: #5175FF;
}



.plan {
    background-color: white;
    margin-top: 33px;
    border-radius: 13px;
    box-shadow: 0 50px 50px fade-out( #4B5C9A, 0.75); 
    
    
    h2 {
        padding-top: 38px;
        padding-bottom: 54px;
        font-size: bold;
        font-weight: 700;
        color: #333950;
    }

    .price {
        font-size: 56px;
        line-height: 1.4;
        color: #333950;
    }

    li {
        margin-bottom: 28px;
    }

    .details {
        margin-bottom: 68px;
        color: #333950;
    }

    button {
        margin-top: 24px;
        margin-bottom: 40px;
    }
    
}

