.price-card {
    position: relative;
    z-index: 5;
    padding-top: toRem(40);
    width: toRem(327); 
    display: block;
    background-color: #FFFFFF;
    box-shadow: 0px 50px 50px #4B5C9A3F;
    border-radius: 13px;
    opacity: 1;
    text-align: center;

    @include media-md {
        width: 85.54%;
        text-align: left;
    }

    @include media-lg {
        width: toRem(350);
        text-align: center;
    }

    h2 {
        @include font(20, 28, 700);
        color: $heading-color; 
        
        @include media-md {
            margin-top: toRem(48);
            margin-left: toRem(48);
        }

        @include media-lg {
            margin: 0;
            margin-top: toRem(40);
        }
    }

    ul {
        margin-top: toRem(48);

        @include media-md {
            margin-top: toRem(24);
            margin-left: toRem(48);
            display: grid;
            grid-template-areas: "first three" "first four" "second five"
        }

        @include media-lg {
            margin-top: toRem(48);
            margin-left: 0;
            display: block;
        }

        li {
            @include font(16, 28, 400);
            color: $text-color;
            margin-bottom: toRem(28);
        }

        li:first-child {
            @include font(56, 64, 700);
            color: $heading-color;
            grid-area: first;
        }

        li:nth-child(2) {  
            color: $heading-color;
            margin-top: toRem(16);
            margin-bottom: toRem(68);
            grid-area: second;

            @include media-md {
                margin: 0;
                margin-top: toRem(-24);
            }
        }

        li:nth-child(3) {
            grid-area: three;
        }

        li:nth-child(4) {
            grid-area: four;
        }

        li:nth-child(5) {
            grid-area: five;
        }
   
    }

    .btn {
        margin-top: toRem(24);
        margin-bottom: toRem(40);

        @include media-md {
            margin-top: toRem(36);
            margin-left: toRem(48);
        }

        @include media-lg {
            margin-left: 0;
        }
    }

}

.pro {
    background-color: $blue;
    background-image: url('../assets/home/bg-pattern-pricing.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center toRem(-254);

    
    h2 {
        color: white;
    }

    ul {
        li{
            color: white;
        }

        li:first-child {
            color: white;
        }

        li:nth-child(2) {
            color: white;
        }
    }
}
