@mixin font ($size, $line-height, $weight) {
    font-size: toRem($size);
    line-height: toRem($line-height);
    font-weight: $weight;
}

@mixin media-md {
    @media screen and (min-width: 800px) {
        @content;
    }
}

@mixin media-lg {
    @media screen and (min-width: 1200px) {
        @content;
    }
}

@mixin media-xl {
    @media screen and (min-width: 1600px) {
        @content;
    }
}