$off-white: #FAFAFA;
$blue: #5175FF;
$soft-blue: hsla(228, 100%, 66%, 0.15);
$gray: #747B95;
$dark-blue: #333950;
$dark-gray-blue: #3F5BC23F;

$background-color: $off-white;

$heading-color: $dark-blue;
$text-color: $gray;